.attribution { 
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

body{
    width: 100vw;
    height: 100vh;
    background-color:#231d2b;
    margin:0;
    position:relative;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
}
body::before{
    content:'';
    background: url(./images/bg-stars.svg) center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display:block;
    margin:0;
    position: absolute;
    top:0;
}

body::after{
    content:'';
    background: url(./images/pattern-hills.svg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 23%;
    display:block;
    margin:0;
    position: absolute;
    bottom:0;
    z-index: 5;
}

main{
    display: flex;
    flex-direction: column;
    height: 100%;    
}
.title{
    height: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 6px;
    z-index: 10;
    text-align: center;
}
.counters{
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #8686aa;
    z-index: 10;
}
.counter{
    flex: 1 0 6rem;    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* text-align:center; */
    /* padding:1rem; */
}
.social{
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width:9rem;
    margin:0 auto;
}
.social a:hover path{
    fill:hsl(345, 95%, 68%);
}
.countersContainer{
    width: 80%;
    max-width: 800px;
    display: flex;
    height: 100%;
}
.number{
    /* flex:1 0 0;     */
} 
.description{
    /* flex:0 0 0; */
    padding-top: 1rem;
}


/* Counter - IN */
.number{        
    /* font-size: 8rem; */
    font-size: 96px;
    color: hsl(345, 95%, 68%);
    position: absolute;
    /* padding: 0 50px; */
    background-color: #34364f;   
    transition: all 0.7s;

    /* overflow: hidden;
    height: 50%; */

    text-align: center;
    width: 100%;
}
.old.supNum{    
    /* top:7px;         */
    /* top:0px;         */
    top:10px;        
}
.old.infNum{    
    /* top:-68px;        */
    /* top:-75px;        */
    top:-65px;       
}
.new.supNum{
    /* top:160px;      */
    /* top:153px;      */
    top:163px;     
}
.new.infNum{
    /* top:-221px;      */
    /* top:-228px;      */
    top:-218px;     
}
.moving.supNum{    
    /* top: 7px; */
    /* top: 0px; */
    top: 10px;
}
.moving.infNum{
    /* top:-68px; */
    /* top:-75px; */
    top:-65px;
}


.l1{
    width: 150px;
    height: 150px;
    /* margin: 5rem; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 8px;
    position: relative;
}
/* .l1::before,.l1::after{
    content:'';
    background-color: #1a1a24;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    
}
.l1::before{
    transform: translate(-7px, 69px);
}
.l1::after{
    transform: translate(144px, 69px);
} */
.circleLeft{
    background-color: #1a1a24;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    margin-top: 50%;
    transform: translate(-7px, -6px);
    z-index: 10;
}
.circleRight{
    background-color: #1a1a24;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    margin-top: 50%;
    transform: translate(7px, -6px);
    z-index: 10;
}
.sup{
    height: 50%;
    background-color: #34364f;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #1a1a24;
    /* para cover de opacidad: */
    overflow: hidden;
    position: relative;
}
.inf{
    height: 50%;
    background-color: #34364f;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 8px 0 #1a1a24;

    overflow: hidden;
    position: relative;
}
.sup::after{
    content: '';
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 25%);
    z-index: 5;
}

@media screen and (max-width: 800px){
    .l1{
        width: 100px;
        height: 100px;
    }
    .number{
        /* font-size: 70px; */
        font-size: 60px;
    }
    .counters{
        width: 100%;
    }    

    .old.supNum{    
        /* top:6px;         */
        top:12px;        
    }
    .old.infNum{            
        /* top:-45px;        */
        top:-39px;       
    }
    .new.supNum{
        top:165px;     
    }
    .new.infNum{
        top:-192px;     
    }
    .moving.supNum{    
        /* top: 6px; */
        top: 12px;
    }
    .moving.infNum{
        /* top:-45px; */
        top:-39px;
    }    
}

@media screen and (max-width: 550px){
    .l1{
        width: 80px;
        height: 80px;
    }
    .number{
        font-size: 44px;
    }

    .old.supNum{    
        top:10px;        
    }
    .old.infNum{            
        top:-30px;       
    }
    .new.supNum{
        top:163px;     
    }
    .new.infNum{
        top:-183px;     
    }
    .moving.supNum{    
        top: 10px;
    }
    .moving.infNum{
        top:-30px;
    }    

    .description{
        font-size: 12px;
    }
}

@media screen and (max-width: 450px){
    .l1{
        width: 60px;
        height: 60px;
    }
    .number{
        font-size: 30px;
    }

    .old.supNum{    
        top:10px;        
    }
    .old.infNum{            
        top:-20px;       
    }
    .new.supNum{
        top:163px;     
    }
    .new.infNum{
        top:-183px;     
    }
    .moving.supNum{    
        top: 10px;
    }
    .moving.infNum{
        top:-20px;
    }   

    .counter{
        flex: 1 0 4rem;
    }
    .description{
        font-size: 8px;
    }
}
@media screen and (max-width: 350px){
    .description{
        font-size: 6px;
    }
}
/* Counter - OUT */